<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Loopback TCP to the exploit's io daemon (127.0.0.1:39555). -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Needed to find KernelSU's libksud.so on Android 11+ package visibility. -->
    <queries>
        <package android:name="me.weishu.kernelsu" />
    </queries>

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:theme="@style/Theme.GhostLock"
        tools:targetApi="35">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Shizuku instantiates this class inside a process it spawns as shell. -->
        <service
            android:name=".GhostLockService"
            android:exported="false" />

        <!-- Shizuku's bridge. The authority must be <applicationId>.shizuku. -->
        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />
    </application>

</manifest>
